<!DOCTYPE html>
<html ng-app="ped">
<head>
  <meta charset="utf-8">
  <title>AngularJS Plunker</title>
  <link rel="stylesheet" href=".tmp/css/style.css">
</head>
<body ng-controller="MainCtrl">
  <border-layout>
    <border 
      min="200px"
      max="300px"
      anchor="west"
      target="250px"
      class="sidebar"
    >
      <ul class="nav nav-list">
        <li 
          ng-class="{active: buffer==session.active}"
          ng-repeat="buffer in session.buffers track by buffer.filename"
        >
          <a 
            ng-bind="buffer.filename"
            ng-click="session.active=buffer"
          >
          </a>
        </li>
        <li>
          <a ng-click="addFile()">Add file...</a>
        </li>
      </ul>
      <handle></handle>
    </border>
    <border class="preview" anchor="east" target="30%">
      <previewer session="session"></previewer>
      <handle></handle>
    </border>
    <center>
      <editor session="session"></editor>
    </center>
  </border-layout>
    <script src=".tmp/js/libs.js"></script>
    <script src=".tmp/js/components.js"></script>
    <script src=".tmp/js/main.js"></script>
</body>
</html>
